.total {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-style: normal;

    &_container {
        display: flex;
        justify-content: space-between;

        &__price {
            color: var(--clr-primary);
            font-size: var(--fs-36);
            font-weight: var(--fw-extra-bold);
            line-height: normal;
        }
    }


    &_description {
        align-self: stretch;
        color: var(--clr-black);
        font-size: var(--fs-14);
        font-weight: var(--fw-regular);
        line-height: 1.25rem;

        span {
            color: var(--clr-danger);
            font-size: var(--fs-14);
            font-weight: var(--fw-semi-bold);
            line-height: 1.25rem;
        }
    }
}

@import './TotalAmountMedia.module.scss'