@media screen and (max-width: 600px) {
    .burger {
        width: 15rem;
        height: 15rem;
    }
}


@media screen and (max-width: 500px) {
    .burger {
        width: 13rem;
        height: 13rem;
    }
}