.summary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    &_header {
        color: var(--clr-black);
        font-size: var(--fs-36);
        font-style: normal;
        font-weight: var(--fw-semi-bold);
        line-height: normal;
    }

    &_details {
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 2rem;
        background: var(--clr-titan-white);



        &_information {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            flex: 1 0 0;

            &__img {
                display: flex;
                width: 2rem;
                height: 2rem;
                padding: 0.5rem;
                justify-content: center;
                align-items: center;
                border-radius: 6.1875rem;
                // border-radius: 100%;
            }


            p {
                color: var(--clr-black);
                font-size: var(--fs-14);
                font-style: normal;
                font-weight: var(--fw-semi-bold);
                line-height: 1.25rem;
            }
        }

    }
}

.line {
    display: block;
    height: 0.125rem;
    width: 100%;
    border-radius: 6.1875rem;
    background: var(--clr-titan-white);
}

@import './SummaryMedia.module.scss'