.input {
    &_wrapper {
        height: 3.25rem;
        display: flex;
        padding: 0.5rem 1rem;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;
        border-radius: 1rem;
        border: 0.0625rem solid var(--clr-titan-white);
        background: var(--clr-white, #FFF);

        position: relative;
        top: 0;
        left: 0;

        &__focused {
            outline: var(--clr-primary);
            border: 0.07rem solid var(--clr-primary);
        }
    }

    &_icon {
        width: 1.25rem;
        height: 1.25rem;
    }

    &_field {
        display: flex;
        height: 2.25rem;
        padding: 0.0625rem 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border: none;
        align-self: flex-end;

        // text
        color: var(--clr-black);
        font-size: var(--fs-14);
        font-style: normal;
        font-weight: var(--fw-semi-bold);
        line-height: 1.25rem;

        &:focus {
            outline: none;
        }

        &__focused {
            height: 1.25rem;
            outline: none;
        }

    }


    &_label {
        position: absolute;
        left: 2.7rem;

        color: var(--clr-muted);
        font-size: var(--fs-14);
        font-style: normal;
        font-weight: var(--fw-medium);
        line-height: normal;

        &__focused {
            font-size: var(--fs-12);
            font-weight: var(--fw-regular);
        }
    }

    &_error {
        position: absolute;
        bottom: calc(-1*0.9375rem);
        left: 1.35rem;
        font-size: var(--fs-12);
        color: var(--clr-danger);
    }
}
