.input {
    &_wrapper {
        display: flex;
        padding: 0.5rem 1rem;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;
        border-radius: 1rem;
        border: 0.0625rem solid var(--clr-titan-white);
        background: var(--clr-white, #FFF);
    }

    &_icon {
        width: 1.25rem;
        height: 1.25rem;
    }


    &_field {
        display: flex;
        height: 2.25rem;
        padding: 0.0625rem 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border: none;

        // text
        color: var(--clr-black);
        font-size: var(--fs-14);
        font-style: normal;
        font-weight: var(--fw-semi-bold);
        line-height: 1.25rem;

        &::placeholder {
            color: var(--clr-muted);
            font-size: var(--fs-14);
            font-style: normal;
            font-weight: var(--fw-medium);
            line-height: normal;
        }

        &:focus {
            border: none;
            outline: none;
        }
    }

    &_focused {
        outline: var(--clr-primary);
        border: 0.07rem solid var(--clr-primary);
    }
}

