.nav {
    display: flex;
    justify-content: space-between;
    gap: 3.75rem;
    list-style: none;
    color: var(--clr-black);

    &:hover {
        cursor: pointer;
    }

    &_menu {
        text-decoration: none;
        color: var(--clr-black);

        &__active {
            color: var(--clr-black);
            text-decoration: none;

            li {
                position: relative;

                &::before {
                    position: absolute;
                    bottom: calc(-1*0.75rem);
                    left: 0;
                    content: "";
                    width: 100%;
                    height: 0.125rem;
                    background-color: var(--clr-primary);
                    transition: width 0.3s ease;

                }
            }
        }
    }
}
