@media screen and (max-width: 800px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3.75rem;
    }    
}
