.btn {
    display: flex;
    width: 9rem;
    height: 9rem;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: var(--clr-white);
        text-align: center;
        font-size: var(--fs-24);
        font-style: normal;
        font-weight: var(--fw-extra-bold);
        line-height: 1.875rem;
        text-transform: uppercase;
    }
}

@import './ButtonMakeBurgerMedia.module.scss';