.body {
    display: flex;
    padding: 0.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 6.1875rem;
    border: none;
    background: var(--clr-titan-white);
    width: 1.75rem;
    height: 1.75rem;

    &:hover {
        cursor: pointer;
    }

    span {
        font-size: (--fs-16);
        flex-shrink: 0;
        color: var(--clr-primary);
    }
}