.modal {
    &_form {
        width: 100%;

        &_main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 1.5rem 1rem;
            gap: 1rem;
        }
    }

    &_footer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        width: 100%;
        border-top: 0.0625rem solid var(--clr-titan-white);
        padding: 1rem;
    }


    &_error {
        position: absolute;
        bottom: calc(-1*1rem);
        left: 1.35rem;
        font-size: var(--fs-12);
        color: var(--clr-danger);
    }
}


.phoneinput {
    &_container {
        display: flex !important;
        align-self: flex-end !important;
        background: var(--clr-white, #FFF) !important;
        font-family: var(--ff-main) !important;
    }

    &_input {
        height: 2.25rem !important;
        width: 100% !important;
        padding: 0.0625rem 0px !important;

        color: var(--clr-black) !important;
        font-size: var(--fs-14) !important;
        font-style: normal !important;
        font-weight: var(--fw-semi-bold) !important;
        line-height: 1.25rem !important;
        border: none !important;

        &_focused {
            height: 1.25rem !important;
            outline: none !important;
        }
    }

    &_country {
        display: none !important;
    }
}

@import './ModalCheckoutMedia.module.scss';