.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-modal-checkout);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;

    background: #5243c2e6;
    backdrop-filter: blur(1px);


    &_container {
        display: flex;
        width: max-content;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        background-color: var(--clr-white);
        border-radius: 1rem;
    }

    &_header {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 1rem;
        border-bottom: 0.0625rem solid var(--clr-titan-white);

        img {
            width: 1.5rem;
            height: 1.5rem;
        }

        &__title {
            color: var(--clr-black);
            font-size: var(--fs-20);
            font-style: normal;
            font-weight: var(--fw-semi-bold);
            line-height: normal;
            margin-right: auto;
        }

        &__btn {

            &:hover {
                cursor: pointer;
            }
        }
    }


    &_form {

        &_main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 1.5rem 1rem;
            gap: 1rem;
        }


    }


    &_footer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        width: 100%;
        border-top: 0.0625rem solid var(--clr-titan-white);
        padding: 1rem;


    }
}

